services:
  read:
    build: ./generator
    container_name: generator
    environment:
      S3_URL: http://minio:9000
      AWS_ACCESS_KEY_ID: minioadmin
      AWS_SECRET_ACCESS_KEY: minioadmin
      AWS_DEFAULT_REGION: us-east-1
      BRONZE_BUCKET: bronze
    ports:
      - 8880:5000
    networks:
      - tp-exo4
    # volumes:
    #   - ./generator/:/app/generator/

  cleaner:
    build: ./cleaner
    container_name: cleaner
    environment:
      S3_URL: http://minio:9000
      AWS_ACCESS_KEY_ID: minioadmin
      AWS_SECRET_ACCESS_KEY: minioadmin
      AWS_DEFAULT_REGION: us-east-1
      BRONZE_BUCKET: bronze
    ports:
      - 8881:5000
    networks:
      - tp-exo4

  aggregator:
    build: ./aggregator
    container_name: aggregator
    environment:
      S3_URL: http://minio:9000
      AWS_ACCESS_KEY_ID: minioadmin
      AWS_SECRET_ACCESS_KEY: minioadmin
      AWS_DEFAULT_REGION: us-east-1
      BRONZE_BUCKET: bronze
    ports:
      - 8882:5000
    networks:
      - tp-exo4
    # volumes:
    #   - ./generator/:/app/generator/

  minio:
    image: quay.io/minio/minio
    container_name: minio-ex4
    # environment:
    #   - MINIO_ROOT_USER=minioadmin
    #   - MINIO_ROOT_PASSWORD=minioadmin
    ports:
      - 9005:9000
      - 9006:9001
    command: server /data --console-address ":9001"
    networks:
      - tp-exo4
    # volumes:
    #   - tp-volume:/home/thierry/read/data
networks:
  tp-exo4:

# volumes:
#   tp-volume-ex4: